
.albums{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-auto-rows: auto;
    gap: 2rem;
}


.album{
    position: relative;
    display: grid;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 2px solid hsl(0, 0%, 30%)
}
.album img{
    position: absolute;
    height: 150%;
    top: -35%;
    left: 50%;
    transform: translate(-50%)
}

.album div{
    align-self: end;
    z-index: 2;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    background: hsl(0, 0%, 15%);
}

.images{
    width: 90%;
    justify-self: center;
}
.images_small{
    display: none;
}

.images img {
    max-height: 320px;
    width: 100%;
    object-fit: contain;
}


@media (max-width: 52rem){
    .albums{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px){
    .album{
        width: 100%;
        justify-self: center;
    }
}

@media (max-width: 250mm){
    .images{
        display: none;
    }
    .images_small{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem
    }
    .images_small img{
        max-height: 320px;
        width: 100%;
    }
}